@font-face 

	font-family: Raleway-Light
	src url(font/Raleway/Raleway-Light.ttf) format(truetype)



body 
	background #edeeed


#cont_cabezote
	margin 0 auto
	width 90%
	#logo
		padding 20px


#cont_footer
	margin 0 auto
	width 90%
	#cont_dos_footer
		text-align center 
		width 95%
	button
		background #edeeed
		border none
		
		font-family: Raleway-Light
		font-size 16px
		a
			color #cdcecd
			text-decoration none
	p
		font-family: Raleway-Light
		font-size 12px
		color #cdcecd

#cont_img_principal
	margin 0 auto
	width 90%
	#cont_dos_img_principal
		text-align center
		p 
			color #cdcecd
			font-family: Raleway-Light
			font-size 15px
			

#cont_menu
	margin 0 auto
	width 90%
	button
		background #edeeed
		border none
		font-family: Raleway-Light
		font-size 60px
		padding 0 0 25px 0 
		a 
			color #77c964
			text-decoration none
    



