@font-face{font-family:Raleway-Light;src:url("font/Raleway/Raleway-Light.ttf") format(truetype)}
body{background:#313842}
nav{background:#6bb198;margin:0;width:100%;}
nav #cont_nav{margin:0 auto;width:90%;}
nav #cont_nav .box_btn_menu{display:inline-block;text-align:center;width:23%}
nav #cont_nav .color_bc{background:#313842}
#Cont_btn_confi_asis_ini{margin:0 auto;width:90%;}
#Cont_btn_confi_asis_ini button{background:#e1df44;font-family:Raleway-Light;font-size:22px;margin:20px;padding:8px}
#Cont_Datos_inv{border-bottom:4px solid #1a2220;margin:0 auto;width:90%;}
#Cont_Datos_inv #cont_fecha_inv{padding:10px 10px 10px 0;}
#Cont_Datos_inv #cont_fecha_inv figure{padding:0}
#Cont_Datos_inv #cont_fecha_inv .object_fecha_inv{display:inline-block}
#Cont_Datos_inv #cont_fecha_inv #Fecha_evento{color:#fff;font-family:Raleway-Light;font-size:15px;margin-left:0}
#Cont_Datos_inv #Name_principal{color:#fff;font-family:Raleway-Light;font-size:38px;margin:0;padding:10px 10px 10px 0}
#Cont_Datos_inv #Type_evento{color:#e1df44;font-family:Raleway-Light;font-size:18px;margin:0}
#Cont_Dedicatoria_inv{border-bottom:4px solid #1a2220;margin:0 auto;width:90%;}
#Cont_Dedicatoria_inv #texto{color:#fff;font-family:Raleway-Light;font-size:16px;margin:0;padding-bottom:10px}
#Cont_Dedicatoria_inv #titulo{color:#656668;font-family:Raleway-Light;font-size:26px;margin:0;padding:10px 10px 10px 0}
#Cont_Foto_inv{border-bottom:4px solid #1a2220;margin:0 auto;width:90%;}
#Cont_Foto_inv img{padding:10px;text-align:center}
#Cont_Datos_Salon_inv{margin:0 auto;width:90%;}
#Cont_Datos_Salon_inv #Name_Salon{color:#fff;font-family:Raleway-Light;font-size:35px;margin:0}
#Cont_Datos_Salon_inv #Direccion_Salon{color:#fff;font-family:Raleway-Light;font-size:18px;margin:0}
#Cont_Datos_Salon_inv #cont_tel_salon{padding:10px 10px 10px 0;}
#Cont_Datos_Salon_inv #cont_tel_salon figure{padding:0}
#Cont_Datos_Salon_inv #cont_tel_salon .object_tel_salon{display:inline-block}
#Cont_Datos_Salon_inv #cont_tel_salon #Tel_Salon{color:#fff;font-family:Raleway-Light;font-size:15px;margin-left:0}
#Cont_Mapa_inv{border-bottom:4px solid #1a2220;margin:0 auto;width:80%;}
#Cont_Mapa_inv iframe{border:none;padding:20px 0 20px 0}
#Cont_Box_Mensaje{margin:0 auto;width:90%}
#Cont_form{margin:0 auto;width:90%;}
#Cont_form form{color:#000;}
#Cont_form form .campos-formulario{background:#e1df44;border:none;font-family:Raleway-Light;font-size:20px;padding:0;width:75%}
