@font-face 

	font-family: Raleway-Light
	src url(font/Raleway/Raleway-Light.ttf) format(truetype)

         
    
body
	background #313842

footer
	background #6bb198
	text-align center
	p 
		color #4d7e71
		font-family Raleway-Light
		font-size 14px
		padding 20px 0 20px 0 



nav
	background #6bb198
	margin 0 
	/*position fixed*/
	width 100%
	#cont_nav
		margin 0 auto
		width 90%
		.box_btn_menu
			display inline-block
			text-align center
			width 23%
		.color_bc
			background #313842


#Cont_btn_confi_asis_ini
	margin 0 auto
	width 90%
	button
		background #e1df44
		font-family Raleway-Light
		font-size 22px
		margin 20px
		padding 8px


#Cont_Datos_inv
	border-bottom 4px solid #1a2220
	margin 0 auto
	width 90%

	#cont_fecha_inv
		/*No entiendo por qu edeja un espacio alrededor de la icono y la fecha Listo RESULETO LE HACIA FALTA NORMALIZE*/
		padding 10px 10px 10px 0px
		
		figure
			padding 0px
		.object_fecha_inv
			display inline-block
		#Fecha_evento
			color white
			font-family Raleway-Light
			font-size 15px
			margin-left 0px

	#Name_principal
		color white
		font-family Raleway-Light
		font-size 38px
		margin 0 
		padding 10px 10px 10px 0px

	#Type_evento
		color #e1df44
		font-family: Raleway-Light
		font-size 18px 
		margin 0


#Cont_Dedicatoria_inv
	border-bottom 4px solid #1a2220
	margin 0 auto
	width 90%
	#texto
		color white
		font-family Raleway-Light
		font-size 16px
		margin 0
		padding-bottom 10px 

	#titulo
		color #656668
		font-family Raleway-Light
		font-size 26px
		margin 0 
		padding 10px 10px 10px 0px

#Cont_Foto_inv
	border-bottom 4px solid #1a2220
	margin 0 auto
	text-align center
	width 90%
	img
		max-width 100%
		height auto
		padding 10px
		


	

/*-------- estilos hoja ubicacion.html --------------*/


#Cont_Datos_Salon_inv
	margin 0 auto
	width 90%
	#Name_Salon
		color white
		font-family Raleway-Light
		font-size 35px
		margin 0
	#Direccion_Salon
		color white
		font-family Raleway-Light
		font-size 18px
		margin 0 
	#cont_tel_salon
		/*No entiendo por qu edeja un espacio alrededor de la icono y la fecha Listo RESULETO LE HACIA FALTA NORMALIZE*/
		padding 10px 10px 10px 0px
		
		figure
			padding 0px
		.object_tel_salon
			display inline-block
		#Tel_Salon
			color white
			font-family Raleway-Light
			font-size 15px
			margin-left 0px

#Cont_Mapa_inv
	border-bottom 4px solid #1a2220
	margin 0 auto
	width 80%
	iframe
		border none
		padding 20px 0 20px 0


/*------------- estilos Hoja mensaje.html---------------*/

#Cont_Box_Mensaje
	margin 0 auto
	width 90%




/*-------------- estilos hoja Formulario reservas -------------*/

#Cont_form
	margin 0 auto
	width 90%
	form 
		color black
		
			
		

		.campos-formulario
			background #e1df44
			border none
			font-family Raleway-Light
			font-size 20px
			padding 0 
			width 75%

/*-------------- estilos hoja Formulario reservas enviado -------------*/


#Descripcion_msn_send
	padding 20px 0 20px 0
	#Cont_Description_msn_send
		margin 0 auto
		width 90%
		p 
			color white
			font-family Raleway-Light
			font-size 20px
		button
			background #e1df44
			a 
				border none 
				color #313842
				font-family Raleway-Light
				font-size 20px
				padding 10px 


/*-------------- estilos hoja Organizador -------------*/


#organizador 
	#cont_organizador
		margin 0 auto
		text-align center
		width 90%
		button
			color #313842
			background #e1df44
			font-family Raleway-Light
			font-size 22px
			margin 20px
			padding 8px
			text-decoration none
		#title_organizador
			color white
			font-family Raleway-Light
			font-size 30px
		#subtitle_organizador
			color white
			font-family Raleway-Light
			font-size 20px



			

	





	

			

			