@font-face 

	font-family: Raleway-Light
	src url(font/Raleway/Raleway-Light.ttf) format(truetype)

         
    
body
	background #313842



nav
	background #6bb198
	margin 0 
	/*position fixed*/
	width 100%
	#cont_nav
		margin 0 auto
		width 90%
		.box_btn_menu
			display inline-block
			text-align center
			width 23%
		.color_bc
			background #313842


#Cont_btn_confi_asis_ini
	margin 0 auto
	width 90%
	button
		background #e1df44
		font-family Raleway-Light
		font-size 22px
		margin 20px
		padding 8px


#Cont_Datos_inv
	border-bottom 4px solid #1a2220
	margin 0 auto
	width 90%

	#cont_fecha_inv
		/*No entiendo por qu edeja un espacio alrededor de la icono y la fecha Listo RESULETO LE HACIA FALTA NORMALIZE*/
		padding 10px 10px 10px 0px
		
		figure
			padding 0px
		.object_fecha_inv
			display inline-block
		#Fecha_evento
			color white
			font-family Raleway-Light
			font-size 11px
			margin-left 0px

	#Name_principal
		color white
		font-family Raleway-Light
		font-size 38px
		margin 0 
		padding 10px 10px 10px 0px

	#Type_evento
		color #e1df44
		font-family: Raleway-Light
		font-size 18px 
		margin 0


#Cont_Dedicatoria_inv
	border-bottom 4px solid #1a2220
	margin 0 auto
	width 90%
	#texto
		color white
		font-family Raleway-Light
		font-size 16px
		margin 0
		padding-bottom 10px 

	#titulo
		color #656668
		font-family Raleway-Light
		font-size 26px
		margin 0 
		padding 10px 10px 10px 0px

#Cont_Foto_inv
	border-bottom 4px solid #1a2220
	margin 0 auto
	width 90%
	img
		padding 10px
		text-align center


	
	

			

			